img {
    width:100%
}

div.tabs p {display: none}
div.tabs p:target {display: block}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}