<html>
  <head><title>{{ title }} Burnup Charts</title></head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <body>
    <h1>{{ title }} Charts</h1>
    <table>
      <tr>
        <td>
          <p><a href="#forecasts">Forecasts</a></p>
          <p><a href="#burnups">Burnup charts</a></p>
          <p><a href="#category_burnups">Per-Category Burnups</a></p>
          <p><a href="#velocity">Overall Velocity</a></p>
          <p><a href="#recentlyclosed">Recently Closed</a></p>
        </td>
        <td>
          <table class="bord">
            <tr><th></th><th>UTC</th><th>PT</th></tr>
            <tr><th>Most Recent Data</th><th>{{ max_date_utc }}</th><th>{{ max_date_pt }}</th></tr>
            <tr><th>Report Date</th><th>{{ now_utc }}</th><th>{{ now_pt }}</th></tr>
          </table>
        </td>
        <td>
	  <h3>Details and diagnostic reports</h3>
          <ul>
            <li><a href="{{ scope_prefix }}_open_by_category.html">All open tasks</a></li>
            <li><a href="{{ scope_prefix }}_recently_closed.html">Recently closed tasks</a></li>
	    <li><a href="{{ scope_prefix }}_unpointed.html">Unpointed tasks</a> are defaulted to <b>{{ default_points }}</b> points.</li>
            <li><a href="{{ scope_prefix }}_points_histogram.png">Histogram of stories by points</a>.</li>
            <li><a href="{{ scope_prefix }}_category_possibilities.txt">List of all possible categories.</a></li>
          </ul>
          <h3>Configuration</h3>
          <ul>
            <li><a href="{{ scope_prefix }}_rules.html">Rules for including and categorizing tasks</a> (<a href="https://github.com/wikimedia/phlogiston/blob/master/{{ scope_prefix }}_recategorization.csv">Edit</a>)</li>            {% if show_points and not show_count %}
            <li>This report shows charts by task points and not task count.</li>
            {% endif %}
            {% if show_count and not show_points %}
            <li>This report shows charts by task count and not task points.</li>
            {% endif %}
	    {% if retroactive_categories %}
	    <li>This report has retroactively adjusted categories.</li>
	    {% endif %}
	    {% if retroactive_points %}
	    <li>This report has retroactively adjusted points.</li>
	    {% endif %}
	    {% if backlog_resolved_cutoff %}
	    <li>This report resets the Resolved count on the burnup chart to zero before {{ backlog_resolved_cutoff }}.</li>
	    {% endif %}
	    <li><a href="https://www.mediawiki.org/wiki/Phlogiston/Configuring">Configuration Help</a></li>
	  </ul>
        </td>
      </tr>
    </table>
    <h2>Forecasts</h2>
    <p>Overview of all categories, and the status (size of category, completion date, or completion % and forecast completion range).</p>
    <p>
      <table>
	<tr>
          {% if show_points %}
	  <td>
	    <a href="{{ scope_prefix }}_forecast_points.png"><img src="{{ scope_prefix }}_forecast_points.png"/></a><br/><a href="{{ scope_prefix }}_forecast_points_showhidden.png">Show hidden.</a>
	  </td>
          {% endif %}
          <td>
	    <p>Per-category burnups</p>
	    <ul>
	      {% for row in category_list %}
	      {% if row.1 %}
	      <li><a href="#tab{{ loop.revindex0 }}">{{ row.0 }}</a></li>
	      {% endif %}
	      {% endfor %}
	    </ul>
          </td>
          {% if show_count %}
	  <td>
	    <a href="{{ scope_prefix }}_forecast_count.png"><img src="{{ scope_prefix }}_forecast_count.png"/></a><br/><a href="{{ scope_prefix }}_forecast_count_showhidden.png">Show hidden.</a>
	  </td>
          {% endif %}
	</tr>
      </table>
    </p>
    <p><a href="https://www.mediawiki.org/wiki/Guide_to_Phlogiston_Reports#Forecast">Help</a>. See also <a href="{{ scope_prefix }}_current_forecasts.html">Complete forecast dates</a> for the raw data behind this chart.</p>
    <a name="burnups"><h2>Project Burnup</h2></a>
    <p>History of completed work (above the line) and open work (below the line) for all categories of work over time.</p>
    <p>
      <table>
	<tr>
          {% if show_points %}
	  <td>
	    <a href="{{ scope_prefix }}_backlog_burnup_points.png"><img src="{{ scope_prefix }}_backlog_burnup_points.png"/></a><br/>
            <a href="{{ scope_prefix }}_backlog_burnup_points_showhidden.png">Show hidden.</a><br/>
	  </td>
          {% endif %}
          {% if show_count %}
	  <td>
	    <a href="{{ scope_prefix }}_backlog_burnup_count.png"><img src="{{ scope_prefix }}_backlog_burnup_count.png"/></a><br/>
            <a href="{{ scope_prefix }}_backlog_burnup_count_showhidden.png">Show hidden.</a>
	  </td>
          {% endif %}
	</tr>
      </table>
    </p>
    <p><a href="https://www.mediawiki.org/wiki/Guide_to_Phlogiston_Reports#Combined_Burnup">Help</a>.</p>
    <h2><a name="category_burnups">Per-Category Burnups</a></h2>
    <table>
      <tr>
	{% for row in rev_category_list %}
	{% if row.1 %}
	<td>
	  <a href="#tab{{ loop.index0 }}">{{ row.0 }}</a>
	</td>
	{% endif %}
	{% endfor %}
      </tr>
    </table>

    <div class="tabs">
    {% for i in range(category_count) %}
    <p id="tab{{ i }}">
      <table>
        <tr>
          {% if show_points %}
          <td><a href="{{ scope_prefix }}_tranche{{ i }}_burnup_points.png"><img src="{{ scope_prefix }}_tranche{{ i }}_burnup_points.png"/></a></td>
          {% endif %}
          {% if show_count %}
          <td><a href="{{ scope_prefix }}_tranche{{ i }}_burnup_count.png"><img src="{{ scope_prefix }}_tranche{{ i }}_burnup_count.png"/></a></td>
          {% endif %}
        </tr>
        <tr>
          {% if show_points %}
          <td><a href="{{ scope_prefix }}_tranche{{ i }}_velocity_points.png"><img src="{{ scope_prefix }}_tranche{{ i }}_velocity_points.png"/></a></td>
          {% endif %}
          {% if show_count %}
          <td><a href="{{ scope_prefix }}_tranche{{ i }}_velocity_count.png"><img src="{{ scope_prefix }}_tranche{{ i }}_velocity_count.png"/></a></td>
          {% endif %}
        </tr>
        <tr>
          {% if show_points %}
          <td><a href="{{ scope_prefix }}_tranche{{ i }}_forecast_points.png"><img src="{{ scope_prefix }}_tranche{{ i }}_forecast_points.png"/></a></td>
          {% endif %}
          {% if show_count %}
          <td><a href="{{ scope_prefix }}_tranche{{ i }}_forecast_count.png"><img src="{{ scope_prefix }}_tranche{{ i }}_forecast_count.png"/></a></td>
          {% endif %}
        </tr>
      </table>
    </p>
    {% endfor %}
    </div>


    <p><a href="https://www.mediawiki.org/wiki/Guide_to_Phlogiston_Reports#Per-category_charts">Help</a>.</p>
    <a name="velocity"><h2>Velocity</h2></a>
    <p>Change in resolved tasks week to week.</p>
    <p>
      <table>
	<tr>
          {% if show_points %}
	  <td>
	    <a href="{{ scope_prefix }}_velocity_points.png"><img src="{{ scope_prefix }}_velocity_points.png"/></a>
	  </td>
          {% endif %}
          {% if show_count %}
	  <td>
	    <a href="{{ scope_prefix }}_velocity_count.png"><img src="{{ scope_prefix }}_velocity_count.png"/></a>
	  </td>
          {% endif %}
	</tr>
      </table>
    </p>
    <p><a href="https://www.mediawiki.org/wiki/Guide_to_Phlogiston_Reports#Combined_Velocity">Help</a>.</p>
    <a name="recentlyclosed"><h2>Recently Closed</h2></a>
    <p>Completed work per week, broken out by category, with highest-priority work on the bottom, in darkest green.</p>
    <table>
      <tr>
        {% if show_points %}
	<td>
	  <a href="{{ scope_prefix }}_done_points.png"><img src="{{ scope_prefix }}_done_points.png"/></a>
	</td>
        {% endif %}
        {% if show_count %}
	<td>
	  <a href="{{ scope_prefix }}_done_count.png"><img src="{{ scope_prefix }}_done_count.png"/></a>
	</td>
        {% endif %}
      </tr>
    </table>
    <p><a href="https://www.mediawiki.org/wiki/Guide_to_Phlogiston_Reports#Completed_Work">Help</a>.  <a href="{{ scope_prefix }}_recently_closed.html">Full list of tasks resolved in last two weeks.</a></p>
  </body>
</html>
