img {
    width:100%
}

body {
  font-family: 'Lato', sans-serif;
}

div.tabs p {display: none}
div.tabs p:target {display: block}

table.bord, table.bord th, table.bord td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}

th {
    vertical-align: top;
}

td.name {
    text-align: left!important;
    
}

/* list.js styling */

input {
  border:solid 1px #ccc;
  border-radius: 5px;
  padding:7px 14px;
  margin-bottom:10px
}
input:focus {
  outline:none;
  border-color:#aaa;
}
.sort {
  padding:8px 30px;
  border-radius: 6px;
  border:none;
  display:inline-block;
  color:#000;
  font-size: 1.1em;
  text-decoration: none;
  background-color: #a8d8e0;
}
.sort:hover {
  text-decoration: none;
  background-color:#1b8aba;
}
.sort:focus {
  outline:none;
}
.sort:after {
  display:inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid transparent;
  content:"";
  position: relative;
  top:-10px;
  right:-5px;
}
.sort.asc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  content:"";
  position: relative;
  top:4px;
  right:-5px;
}
.sort.desc:after {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #fff;
  content:"";
  position: relative;
  top:-4px;
  right:-5px;
}

.phui-project {
  background: #dee7f8;
  text-decoration: none;
  border-color: #cfdbe3;
  color: #464c5c;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 4 4px;
  white-space: nowrap;
  font: 13px 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a.phui-project:hover {
  text-decoration: underline;
}

.phui-category {
  background: #fdf3da;
  text-decoration: none;
  border-color: #e9dbcd;
  color: #726f56;
  border: 1px solid transparent;
  border-radius: 3px;
  padding: 4 4px;
  white-space: nowrap;
  font: 13px 'Segoe UI','Segoe UI Web Regular','Segoe UI Symbol','Lato','Helvetica Neue',Helvetica,Arial,sans-serif;
}

a.phui-category:hover {
  text-decoration: underline;
}

span:before {
    margin-left: 0.5em;
    margin-right: 1em;
}

span.Cut:before {
    content: "✂";
}

span.Done:before {
    content: "✔";
}

s.Done {
    color: rgba(60, 60, 60, .5);
    content: "✔";
}

span.Done {
    color: black;
}

span.Elaborated:before {
    content: "↪";
}

span.Screep:before {
    content: "🐵" ;
}

span.Screep span {
    color: red;
}

span.Open:before {
    content: "⏳";
}

td[status*="Done"] {
    background-color: #FFFFFF;
}

td[status*="Cut"] {
    background-color: #CFD8DC;
}

td[status*="Open"] {
    background-color: #ECEFF1;
}

td[scope*="Elaborated"] {
    background-color: #EDE7F6!important;
}

td[scope*="Screep"] {
    background-color: #FFEBEE!important;
}

td[scope*="In-Scope"] {
    background-color: #E3F2FD!important;
}

/* Color Palette for categories */

[shade*="0"] {
  background-color: #FFFFE5;
}

[shade*="1"] {
  background-color: #FCFED8;
}

[shade*="2"] {
  background-color: #FAFDCC;
}

[shade*="3"] {
  background-color: #F8FCC0;
}

[shade*="4"] {
  background-color: #F3FAB6;
}

[shade*="5"] {
  background-color: #EBF7B0;
}

[shade*="6"] {
  background-color: #E3F4AA;
}

[shade*="7"] {
  background-color: #DBF0A4;
}

[shade*="8"] {
  background-color: #CFEC9E;
}

[shade*="9"] {
  background-color: #C3E698;
}

[shade*="10"] {
  background-color: #B7E193;
}

[shade*="11"] {
  background-color: #ABDC8D;
}

[shade*="12"] {
  background-color: #9CD587;
}

[shade*="13"] {
  background-color: #8DCF81;
}

[shade*="14"] {
  background-color: #7FC97B;
}

[shade*="15"] {
  background-color: #70C275;
}

[shade*="16"] {
  background-color: #61BA6D;
}

[shade*="17"] {
  background-color: #52B365;
}

[shade*="18"] {
  background-color: #42AB5D;
}

[shade*="19"] {
  background-color: #39A156;
}

[shade*="20"] {
  background-color: #31964F;
}

[shade*="21"] {
  background-color: #298C48;
}

[shade*="22"] {
  background-color: #208242;
}

[shade*="23"] {
  background-color: #167A3E;
}

[shade*="24"] {
  background-color: #0D723B;
}

[shade*="25"] {
  background-color: #036A38;
}

[shade*="26"] {
  background-color: #006134;
}

[shade*="27"] {
  background-color: #005830;
}

[shade*="28"] {
  background-color: #004E2C;
}

[shade*="29"] {
  background-color: #004529;
}
