img {
    width:100%
}

body {
  font-family: 'Lato', sans-serif;
}

div.tabs p {display: none}
div.tabs p:target {display: block}

table.bord, table.bord th, table.bord td {
    border: 1px solid gray;
    border-collapse: collapse;
    padding: 0.5em;
    text-align: center;
}